/Django_apps/the_phantom_server/.env
/Django_apps/the_phantom_server/finance_app/templates/Financials.html.keep code
/Django_apps/the_phantom_server/bi_app.json
/Django_apps/the_phantom_server/finance_app.json
/Django_apps/the_phantom_server/the_phantom_server/__pycache__
/Django_apps/the_phantom_server/__pycache__
/Django_apps/the_phantom_server/the_phantom_server/__pycache__
/Django_apps/the_phantom_server/bi_app/__pycache__
/Django_apps/the_phantom_server/bi_app/management/__pycache__
/Django_apps/the_phantom_server/finance_app/__pycache__
/Django_apps/the_phantom_server/finance_app/templatetags/__pycache__
/Django_apps/the_phantom_server/finance_app/migrations
/Django_apps/the_phantom_server/bi_app/migrations
/Django_apps/the_phantom_server/land_app/migrations
/Django_apps/the_phantom_server/land_app/__pycache__
/Django_apps/the_phantom_server/bi_app/management/commands/__pycache__
/Django_apps/the_phantom_server/API/__pycache__
/Django_apps/the_phantom_server/fixtures
/Django_apps/__pycache__
/Django_apps/the_phantom_server/authentication/__pycache__
/Django_apps/the_phantom_server/authentication/migrations
/Django_apps/the_phantom_server/media
/Django_apps/the_phantom_server/downloads/documents_20240327
/Django_apps/the_phantom_server/downloads/documents_20240327.zip
/Django_apps/the_phantom_server/google/__pycache__
/Django_apps/the_phantom_server/zip_file_script/__pycache__
/Django_apps/the_phantom_server/client_secret_217617410571-ghl2fdushp3fl79nqe57frhkn08kmhqe.apps.googleusercontent.com.json
/Django_apps/the_phantom_server/double-carport-379805-3c8d861c5f86.json
/Django_apps/the_phantom_server/land_app/migrations
/Django_apps/the_phantom_server/land_app/migrations/__pycache__
/Django_apps/the_phantom_server/staticfiles
