aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
bokeh>=latest_version
cbor2==5.4.6
certifi==2023.5.7
charset-normalizer==3.2.0
contourpy>=latest_version
Django>=latest_version
django-debug-toolbar>=latest_version
django-filter>=latest_version
django-pivot>=latest_version
dnspython>=latest_version
frozenlist>=latest_version
gunicorn>=latest_version
idna>=latest_version
Jinja2>=latest_version
MarkupSafe>=latest_version
mssql-django>=latest_version
multidict>=latest_version
numpy>=latest_version
packaging>=latest_version
pandas>=latest_version
Pillow>=latest_version
psutil>=latest_version
psycopg2-binary>=latest_version
pubnub>=latest_version
py4j>=latest_version
pycryptodomex>=latest_version
pymongo>=latest_version
pyodbc>=latest_version
pyspark>=latest_version
python-dateutil>=latest_version
python3-memcached>=latest_version
pytz>=latest_version
PyYAML>=latest_version
requests>=latest_version
six>=latest_version
SQLAlchemy>=latest_version
sqlparse>=latest_version
tornado>=latest_version
typing_extensions>=latest_version
tzdata>=latest_version
urllib3>=latest_version
xyzservices>=latest_version
yarl>=latest_version
