{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block cssblock %}
{% include "css_block.html" %}
{% endblock cssblock %}

{% block pdfcontent %}
  <div class="container">
    <div class="card bg-gray-800 mx-0 mb-0 p-3">
      <div class="row">
        <div class="col-12 mb-3">
          <h2 style="text-align: center;">Oil Inventory</h2>
        </div>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table bg-white" border="1">
              <thead class="thead-light">
                <tr>
                  <th class="min-120 table-secondary" style="padding: 3px;" scope="col">Sr No</th>
                  <th class="min-120 table-secondary" style="padding: 3px;" scope="col">Location</th>
                  <th class="min-120 table-secondary" style="padding: 3px;" scope="col">Tank Name</th>
                  <th class="min-120 table-secondary" style="padding: 3px;" scope="col">Current Oil</th>
                  <th class="table-secondary" style="padding: 3px;" scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% if oil %}
                  {% for item in oil %}
                    <tr class="selectable-row">
                      <td style="padding: 3px;" >{{ forloop.counter }}</td>
                      <td style="padding: 3px;" >{{ item.tankid__cal_id__name }}</td>
                      <td style="padding: 3px;" >{{ item.tankid__tankname }}</td>
                      <td style="padding: 3px;" >{{ item.final_gauge|floatformat:2|intcomma }}</td>
                      <td style="padding: 3px;" >{{ item.docdatedate }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="5" class="text-center" style="text-align: center; padding: 3px;">No Record Found</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock pdfcontent %}

{% block script %}
{% include "script_block.html" %}
{% endblock script %}