
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KJ  Data{% endblock %}</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Custom CSS for light blue background  below-->
    <style>
    /* Remove left padding for the container */
    .container {
        padding-left: 0;
    }

    /* Remove left padding for the column containing your content */
    .custom-content {
        padding-left: 0;
    }
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">KJ Energy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label=>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="fa>
                Production </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Los</a></li>
                <li><a class="dropdown-item" href="{% url 'gas_meter_input'%}">Gas Meter</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Reserves</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="fa>
                Automation </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Transfer pumps</a></li>
                <li><a class="dropdown-item" href="#">Mach device setup</a></li>
                <li><a class="dropdown-item" href="#">Intermitter</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOS Data </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">AFE</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <p>{% block content %}This is the main content of your web page.{% endblock %}</p>
        </div>
        <!-- Optionally, you can add a sidebar or other content on the right -->
        <!-- <div class="col-lg-4">
            <p>Sidebar content or other content</p>
        </div> -->
    </div>

</div>

<!-- Add Bootstrap JavaScript and jQuery (for certain Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.2.2.min.js" type="text/javascript" crossorigin="anonymous"></script>
</body>
</html>
