{% extends "main.html" %}

{% block content %}
<br>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card card-body mx-0 mt-0 bg-gray-800 mb-3">
            <h5>LOE DETAIL</h5>
            <!-- Dropdowns for Main Table -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>Accounting Year</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>Field</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- Add more dropdowns for Main Table as needed -->
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>Route</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- Add more dropdowns for Main Table as needed -->
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>AL Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- Add more dropdowns for Main Table as needed -->
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>Well Class</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- Add more dropdowns for Main Table as needed -->
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <select class="form-select custom-select" aria-label="Large select example">
                        <option selected>Operator</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- Add more dropdowns for Main Table as needed -->
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="card  card-body mx-0 mt-0 bg-gray-800 mb-3">

            <div class="finance-table table-responsive">

                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th class="min-140 table-secondary" scope="col">Header A</th>
                            <th class="min-140 table-secondary" scope="col">Header B</th>
                            <th class="min-140 table-secondary" scope="col">Header C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Cell A</td>
                            <td>Row 1, Cell B</td>
                            <td>Row 1, Cell C</td>
                        </tr>
                        <tr>
                            <td>Row 2, Cell A</td>
                            <td>Row 2, Cell B</td>
                            <td>Row 2, Cell C</td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Table 1 -->
    <div class="col-12 col-lg-6 mb-3">

        <div class="card  card-body mx-0 mt-0 bg-gray-800 mb-3">
            <div>
                <h5>Table 1</h5>
            </div>
            <div class="finance-table-2 table-responsive">

                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th class="min-120 table-secondary" scope="col">Header 1</th>
                            <th class="min-120 table-secondary" scope="col">Header 2</th>
                            <th class="min-120 table-secondary" scope="col"> Header 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Cell 1</td>
                            <td>Row 1, Cell 2</td>
                            <td>Row 1, Cell 3</td>
                        </tr>
                        <tr>
                            <td>Row 2, Cell 1</td>
                            <td>Row 2, Cell 2</td>
                            <td>Row 2, Cell 3</td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Table 2 -->
    <div class="col-12 col-lg-6 mb-3">

        <div class="card col-12 card-body mx-0 mt-0 bg-gray-800 mb-3">
            <div>
                <h5>Table 2</h5>
            </div>
            <div class="finance-table-2 table-responsive">

                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th class="min-140 table-secondary" scope="col">Header A</th>
                            <th class="min-140 table-secondary" scope="col">Header B</th>
                            <th class="min-140 table-secondary" scope="col">Header C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Cell A</td>
                            <td>Row 1, Cell B</td>
                            <td>Row 1, Cell C</td>
                        </tr>
                        <tr>
                            <td>Row 2, Cell A</td>
                            <td>Row 2, Cell B</td>
                            <td>Row 2, Cell C</td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 mb-3">
        <div class="card card-body mx-0 mt-0 bg-gray-800 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Bokeh Chart</h5>
                <button class="bg-transparent border-0 outline-none btn-size" data-toggle="modal" data-target="#popupLineChart1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707" />
                    </svg>
                </button>
            </div>
            {{ div_line_chart1|safe }}
            {{ script_line_chart1|safe }}

        </div>
    </div>
</div>

<!-- Popup Line Chart 1 -->
<div class="modal fade chart-main" id="popupLineChart1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="p-3 mb-0">Chart 1</h3>
                    <button class="bg-transparent border-0 outline-none btn-size" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
                {{ popup_div_line_chart1|safe }}
                {{ popup_script_line_chart1|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}