<!-- templates/your_app/your_template.html -->

{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="">
    <div class="card bg-gray-800 mx-0 mb-0 p-3">
        <div class="row">

            <div class="col-12 mb-5">
                <h2>Injection</h2>
            </div>

            <div class="col-12 ">
                <div class="table-responsive">

                    <table class="table bg-white">
                        <thead>
                            <tr>
                                <th class="table-secondary">Date</th>
                                <th scope="col" class="min-120 table-secondary">Current Gas</th>
                                <th scope="col" class="min-120 table-secondary">Current Oil</th>
                                <th scope="col" class="min-120 table-secondary">Current Water</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in another_data_list %}
                            <tr>
                                <td>{{ item.first_name }}</td>
                                <td>{{ item.last_name }}</td>
                                <td>{{ item.points }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="text-center">No Record Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Bokeh Chart 1 -->
            <div class="col-12 mb-3 col-md-6 col-lg-4">
                <div class="card card-body m-0 bg-gray-800">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Chart 1</h3>
                        <button class="bg-transparent border-0 outline-none btn-size" data-toggle="modal"
                            data-target="#popupLineChart1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707" />
                            </svg>
                        </button>
                    </div>

                    {{ div_line_chart1|safe }}
                    {{ script_line_chart1|safe }}
                </div>
            </div>

            <!-- Bokeh Chart 2 -->
            <div class="col-12 mb-3 col-md-6 col-lg-4">
                <div class="card card-body m-0 bg-gray-800">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Chart 2</h3>
                        <button class="bg-transparent border-0 outline-none btn-size" data-toggle="modal"
                            data-target="#popupLineChart2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707" />
                            </svg>
                        </button>
                    </div>
                    {{ div_line_chart2|safe }}
                    {{ script_line_chart2|safe }}
                </div>
            </div>

            <!-- Bokeh Chart 3 -->
            <div class="col-12 mb-3 col-md-6 col-lg-4">
                <div class="card card-body m-0 bg-gray-800">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Chart 3</h3>
                        <button class="bg-transparent border-0 outline-none btn-size" data-toggle="modal"
                            data-target="#popupLineChart3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707" />
                            </svg>
                        </button>
                    </div>
                    {{ div_line_chart3|safe }}
                    {{ script_line_chart3|safe }}
                </div>
            </div>







        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Card 1 -->
                <div class="card border-primary m-0 m-lg-2 mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Card 2 -->
                <div class="card border-primary m-0 m-lg-2 mb-3">
                    <div class="card-header">Header 2</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Card 3 -->
                <div class="card border-primary m-0 m-lg-2 mb-3">
                    <div class="card-header">Header 3</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<!-- Popup Line Chart 1 -->
<div class="modal fade chart-main" id="popupLineChart1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="p-3">Chart 1</h3>
                    <button class="bg-transparent border-0 outline-none btn-size" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
                <!-- <h3 class="text-center p-2">Chart 1</h3> -->
                <div class="min-h-250">
                    {{ popup_div_line_chart1|safe }}
                    {{ popup_script_line_chart1|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup Line Chart 2 -->
<div class="modal fade chart-main" id="popupLineChart2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="p-3">Chart 2</h3>
                    <button class="bg-transparent border-0 outline-none btn-size" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
                <!-- <h3 class="text-center p-2">Chart 2</h3> -->
                <div class="min-h-250">
                    {{ popup_div_line_chart2|safe }}
                    {{ popup_script_line_chart2|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup Line Chart 3 -->
<div class="modal fade chart-main" id="popupLineChart3" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <h3 class="text-center p-2">Chart 3</h3> -->
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="p-3">Chart 3</h3>
                    <button class="bg-transparent border-0 outline-none btn-size" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
                <div class="min-h-250">

                    {{ popup_div_line_chart3|safe }}
                    {{ popup_script_line_chart3|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}